.list-group.songListContainer {
  margin: 1rem;
  width: 500px;
}
.list-group-item.listItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}