.btn-group .buttonMove {
  @media (max-width: 1200px) {
    display: none;
  }
}
.card.songViewerContainer {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  flex: 1;
  max-height: 100%;
  margin: 1rem;
  padding: 1rem;
  white-space: nowrap;
  overflow: auto;
}

.chord {
  color: #ffd998;
  font-size: 1.25rem;
}

.chorus {
  color: #e9de5a;
}

.chorus::before {
  content: "Chorus";
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

.chord-sheet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.paragraph {
  padding: 0 1rem 2rem 0;
}

.label-wrapper h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

/* Modifico el título que yo inserto */
.songTitle {
  font-size: 1.5rem;
}

/* Quito el título mostrado por el parser */
.title {
  display: none;
}

.tono {
  font-size: 1.25rem;
  color: rgb(201, 201, 255);
}
