.list-group.songListContainer {
  flex: 1;
  margin: 1rem;
  width: 500px;
  overflow-y: auto;
}
.list-group-item.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}
.songListFilter {
  margin: 0 0 1rem 0;
}
